<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ainak | About Us</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
   {% load static %}

  <!-- Favicons -->
<!--  <link href="{% static 'assets/img/favicon.png'%}" rel="icon">-->
<!--  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">-->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">

  <link href="{% static 'assets/css/style1.css'%}" rel="stylesheet">


	<!-- Header section links -->
		<link href="{% static 'css/icofont/icofont.min.css'%}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrapheader.min.css'%}">
	<!-- Header section links -->

	<!--stylesheets-->
		<link href="{% static 'css/headerfooterstyle.css'%}" rel='stylesheet' type='text/css' media="all">
		<link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
{% include 'recommend_system/header.html' %}
	
	 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
          <h1>Pioneer of Virtual Try On Glasses & Recommendation System</h1>
          <h2>Our team work and dedication with our members</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'assets/img/hero-img.png'%}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
  
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Recommendation system was not possible to be finished on time if we all had not worked so hard day and night to achieve our target.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Keep on track dedication and full time support members.</li>
              <li><i class="ri-check-double-line"></i> Always tries to find solution never giveup.</li>
              <li><i class="ri-check-double-line"></i> we learn anything is achievable if you have will to.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              For web designing, we have used Html, CSS, JavaScript, J-query and Bootstrap.
                We have used Python’s framework Django which is web-based framework makes work easy and faster for web development.
                The Recommendation Systems back-end work is purely created on Python’s framework Django..
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Virtual Try On Glasses !</h3>
            <p> Virtual Try-on lets you to see what you'll look like in new glasses or sunglasses via your webcam. Simply submit a short video and photo and the Virtual Try-on software will digitally position frames over your face. You can even share the results with friends to help decide if the new specs or shades suit you.
            </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Our Team</h2>
          <p>Our team members that were involved in creating this very project we have full stack developers content writers and web designer to design web pages.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'assets/img/team/team-1.jpg'%}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Syed Osama Hussain</h4>
                <span>Full-Stack Python Web Developer</span>
                <p>Python's framework Django expert</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Team Section -->

 
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Get In Touch</h2>
          <p>Feel Free to Contact us any time for any query.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Karachi, Sindh</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>syedosama@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>09007-860-1</p>
              </div>
             </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js'%}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>

  <!-- Template Main JS File -->
  <scripst src="{% static 'assets/js/main.js'%}"></scripst>


	
	<!-- footer section -->
		<section class="footer" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 footer-agile">
						<h3>About Us</h3>
						<p class="footer-p1">Ainak.com is the first innovative Glasses web portal with new dimensions in the sector, aiming to provide easy access to buy for any kind of glasses and also  provide innovative solutions, to ensure the best possible outcome is achieved.</p>
						<ul class="social-icons3">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 footer-agile">
						<h3>Ainak.com</h3>
						<p class="footer-p2">In Association and support of Etc University.</p>
						<p class="footer-p3"><a href="#">#Opened</a>, <span>24/7</span></p>
					</div>
					<div class="col-lg-4 col-md-4 footer-agile">
						<h3>GET IN TOUCH</h3>
						<div class="contact-w3ls">
							<div class="row">
								<div class="col-xs-4 contact-agile1">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
								</div>
								<div class="col-xs-8 contact-agile2">
									<div class="address">
										<h4>Visit Us</h4>
										<p>Karachi, Sindh, Pakistan</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4 contact-agile1">
									<i class="fa fa-envelope-o" aria-hidden="true"></i>
								</div>
								<div class="col-xs-8 contact-agile2">
									<div class="address">
										<h4>Mail Us</h4>
										<p><a href="mailto:email@example.com">email@example.com</a></p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4 contact-agile1">
									<i class="fa fa-mobile" aria-hidden="true"></i>
								</div>
								<div class="col-xs-8 contact-agile2">
									<div class="address">
										<h4>Call Us</h4>
										<p>+92 300 2312341</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr style="background:#fff;">
				<p class="copyright">&copy; 2020. All rights reserved | Design by Syed Osama Hussain</p>
			</div>
		</section>
	<!-- /footer section -->
	<!-- back to top -->
		<a href="#0" class="cd-top">Top</a>
		<script src="{% static 'js/top.js'%}"></script>
	<!-- back to top -->

  </body>
</html>
