<!DOCTYPE html>
<html lang="en">
<head>
 	<title>P-Dealer | Sell</title>
	{% load static %}
    <!--meta tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="" />
	<!--meta tags -->

	<!-- Links -->
		<link href="{% static 'css/bootstrap.min1.css' %}" rel="stylesheet">
		<link href="{% static 'css/sell2.css' %}" rel="stylesheet">
	<!-- Links -->
	
	<!-- Header section links -->
		<link href="{% static 'css/icofont/icofont.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrapheader.min.css' %}">
	<!-- Header section links -->
	
	<!--stylesheets-->
		<link href="{% static 'css/headerfooterstyle.css' %}" rel='stylesheet' type='text/css' media="all">
		<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all" />
		
	<!-- Search Panel Responsive-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/sellsresponsive.css' %}">
	<!-- Search Panel Responsive-->
	
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrapheader.min.css' %}">
	
</head>

<body>


	<!-- Header -->
		{% include 'recommend_system/header.html' %}
     <!-- Header -->

	<!-- banner -->
		<div class="inner_page-banner">
			
			<div class="container">
                <div class="slider-info text-left">
                    <h4>Upload <span class="orange-col">Your </span>Property Here!</h4>
                    <p class="pt-3">Sell Your Own</p>
                </div>
            </div>
			
		</div>
    <!--//banner -->


	<div class="container" id="container1">

		<div class="card">

			<h2 class="card-header">
				<a id="subjectiveHeading"><i class="fa fa-cogs"></i> Sell Property</a>
			</h2>

			<div class="card-block">
				<form action="{% url 'sell' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
					<input type="hidden" name="user_id" value="{{ request.session.user_id }}"/>
					<div class="form-row">
						<div class="col-md-6 mb-3">
						  <label for="validationCustom01">City</label>
						  <select name="city" class="form-control" id="validationCustom01" required>
								<option disabled>---Select City---</option>
								<option value="Nawabshah">Nawabshah</option>
								<option value="Karachi">Karachi</option>
						  </select>
						  <div class="invalid-feedback">
							Status is Required
						  </div>
						</div>

						<div class="col-md-6 mb-3">
						  <label for="validationCustom01">Location</label>
						  <input type="text" class="form-control" name="location" id="validationCustom01" required />
						  <div class="invalid-feedback">
							Location is Required
						  </div>
						</div>
					</div>

					<div class="form-row">
						<div class="col-md-6 mb-3">
						  <label for="validationCustom01">Category</label>
						  <select name="category" class="form-control" id="validationCustom01" required >
								<option disabled>---Select Category---</option>
								<option value="Houses">Houses</option>
								<option value="Apartments">Apartments</option>
								<option value="Plots">Plots</option>
						  </select>
						  <div class="invalid-feedback">
							Category is Required
						  </div>
						</div>
						
						<div class="col-md-6 mb-3">
						  <label for="validationCustom01">Status</label>
						  <select name="status" class="form-control" id="validationCustom01" required >
								<option disabled>---Select Status---</option>
								<option value="Sale">Sale</option>
						  </select>
						  <div class="invalid-feedback">
							Status is Required
						  </div>
						</div>
					</div>

					<div class="form-row">
						<div class="col-md-6 mb-3">
						  <label for="validationCustom01">Price</label>
						  <input type="number" name="price" min="500000" class="form-control" id="validationCustom01" placeholder="1000000..." required />
						  <div class="invalid-feedback">
							Price is Required
						  </div>
						</div>

						<div class="col-md-6 mb-3">
						  <label for="validationCustom01">Squarefit sft</label>
						  <input type="number" name="sft" min="600" placeholder="1200...." class="form-control" id="validationCustom01" required />
						  <div class="invalid-feedback">
							Sft is Required
						  </div>
						</div>
					</div>
					
					<div class="form-row">
						<div class="col-md-4 mb-3">
						  <label for="validationCustom01">Display Image</label>
						  <input type="file" name="displayimg" class="form-control-file" id="validationCustom01" accept="image/*" required />
						</div>
						<div class="col-md-4 mb-3">
						  <label for="validationCustom01">Image 1</label>
						  <input type="file" name="img1" class="form-control-file" id="validationCustom01" accept="image/*" required />
						</div>
						<div class="col-md-4 mb-3">
						  <label for="validationCustom01">Image 2</label>
						  <input type="file" name="img2" class="form-control-file" id="validationCustom01" accept="image/*" required />
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-4 mb-3">
						  <label for="validationCustom01">Image 3</label>
						  <input type="file" name="img3" class="form-control-file" id="validationCustom01" accept="image/*" required />
						</div>
						<div class="col-md-4 mb-3">
						  <label for="validationCustom01">Image 4</label>
						  <input type="file" name="img4" class="form-control-file" id="validationCustom01" accept="image/*" required />
						</div>
						<div class="col-md-4 mb-3">
						  <label for="validationCustom01">Image 5</label>
						  <input type="file" name="img5" class="form-control-file" id="validationCustom01" accept="image/*" required />
						</div>
					</div>

					<div class="form-row">
						<div class="col-md-6 mb-3">
						  <label for="validationCustom01">Your Full Name</label>
						  <input type="text" class="form-control" name="name" id="validationCustom01" required />
						  <div class="invalid-feedback">
							Name is Required
						  </div>
						</div>

						<div class="col-md-6 mb-3">
						  <label for="validationCustom01">Your Email</label>
						  <input type="email" class="form-control" name="email" id="validationCustom01" required />
						  <div class="invalid-feedback">
							Email is Required
						  </div>
						</div>
					</div>
					
					<div class="form-row">
						<div class="col-md-12 mb-3">
						  <label for="validationCustom01">Description</label>
						  <textarea rows="4" class="form-control" name="description" id="validationCustom01" required></textarea>
						  <div class="invalid-feedback">
							Description is Required
						  </div>
						</div>
					</div>
					
					<div class="text-right">
						<button class="btn btn-primary" name="sell" id="btnsubmit" type="submit">Add</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!-- footer section -->
		<section class="footer" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 footer-agile">
						<h3>About Us</h3>
						<p class="footer-p1">P-DEALER is the first innovative real estate web portal with new dimensions in the sector, aiming to provide easy access to buyer and seller for any kind of property and also  provide innovative solutions, to ensure the best possible outcome is achieved.</p>
						<ul class="social-icons3">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>	
					</div>
					<div class="col-lg-4 col-md-4 footer-agile">
						<h3>P.Dealer.com</h3>
						<p class="footer-p2">In Association and support of Shaheed Benazir Bhutto University Shaheed Benazirabad.</p>
						<p class="footer-p3"><a href="#">#Opened</a>, <span>24/7</span></p>
					</div>
					<div class="col-lg-4 col-md-4 footer-agile">
						<h3>GET IN TOUCH</h3>
						<div class="contact-w3ls">
							<div class="row">	
								<div class="col-xs-4 contact-agile1">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
								</div>
								<div class="col-xs-8 contact-agile2">
									<div class="address">
										<h4>Visit Us</h4>
										<p>Nawabshah,Sindh,Pakistan</p>
									</div>	
								</div>	
							</div>
							<div class="row">
								<div class="col-xs-4 contact-agile1">
									<i class="fa fa-envelope-o" aria-hidden="true"></i>
								</div>
								<div class="col-xs-8 contact-agile2">
									<div class="address">
										<h4>Mail Us</h4>
										<p><a href="mailto:email@example.com">email@example.com</a></p>
									</div>	
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4 contact-agile1">
									<i class="fa fa-mobile" aria-hidden="true"></i>
								</div>
								<div class="col-xs-8 contact-agile2">
									<div class="address">
										<h4>Call Us</h4>
										<p>+92 300 2512331</p>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>	
				<hr style="background:#fff;">
				<p class="copyright">&copy; 2020. All rights reserved | Design by Zubair Akram, Sulaiman Abbasi, Laila Rashid</p>
			</div>
		</section>
	<!-- /footer section -->
	<!-- back to top -->
		<a href="#0" class="cd-top">Top</a>
		<script src="js/top.js"></script> 
	<!-- back to top -->

  </body>
</html>
<style>
#container1{
	margin-top:5%;
	margin-bottom:5%;
	font-family: 'Trebuchet MS';
}
.card{
	box-shadow: 0 1px 10px black;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.card-header{
	background:#394264;
	color:#fff;
	box-shadow: 0 5px 5px #394264;
	height: 50px;
}
.card-block{
	padding:15px 20px;
	font-size:14pt;
}
#subjectiveHeading i{
	color:#fff;
	margin-right:10px;
	margin-top:10px;
}
#btnsubmit{
	background:#394264;
	border:none;
	margin-top:20px;
	margin-bottom:20px;
	height:40px;
	width:110px;
	font-size:12pt;
	border-radius:20px;
}
.needs-validation{
	margin-top:20px;
}
#validationCustom01 {
	font-size:12pt;
	border-radius:20px;
	margin-bottom:20px;
	border-width: medium;
}
</style>